.container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  border: 1px solid black;
}

.col {
  display: flex;
}

.cell {
  width: 90px;
  height: 90px;
  border: 1px solid gray;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.replay_button{
  text-align: center;
  width: auto;
  background-color: red;
  color: #000000;
  margin: 5px;
  cursor: pointer;
  padding: 8px;
}
